<<<<<<< HEAD
p {
    font-size: 30px;
    text-align: center;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 50vw;
=======
p {
    font-size: 30px;
    text-align: center;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: auto;
    width: 50vw;
>>>>>>> e4a0306c1eac7b620a249d416c3a296b66ee19f2
}