body {
    background-image: linear-gradient(rgba(0 0 0/ 0.4), rgba(0 0 0/ 0.7)), url(756783.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
    text-align: center;
    color: white;
    font-size: 100px;
    margin: 0;
}
.time {
    display: flex;
    justify-content: center;
}
.time>h1 {
    padding: 0.2em;
    font-size: 75px;
    color: #00000060;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: orangered;
    margin-top: 0;
}
.points {
    display: flex;
    justify-content: space-around;
}
.home>p {
    font-size: 50px;
    color:orangered;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin: 0;
}
.homePoints, .homeTitle {
    text-align: center;
}
.homeTitle, .visitorTitle {
    color: orangered;
    font-size: 50px;
}
.visitor>p {
    font-size: 50px;
    color:orangered;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    margin: 0;
}
.visitorPoints, .visitorTitle {
    text-align: center;
}
.shotClock {
    text-align: center;
}
.shotClock>h1 {
    color: white;
    font-size: 50px;
}
.periodNum {
    color: orangered;
    text-align: center;
    font-size: 45px;
}
.manyButtons {
    text-align: center;
    margin: 1em, 0, 1em, 0 ;
}
.manyButtons>button {
    background-color: #00000050;
    border-color: orangered;
    border-radius: 5px;
    margin: 2px;
    color: orangered;
    font-size: 20px;
}
button {
    background-color: #00000050;
    border-color: orange;
    border-radius: 5px;
    margin: 2px;
    color: orange;
    font-size: 20px;
}
.timerButtons {
    display: flex;
    justify-content: space-around;
}
.clock {
    margin-top: 0;
}